version: '{{ docker_compose_version }}'

services:
  nginx:
    image: nginx:{{ nginx_version }}
    container_name: nginx
    volumes:
      - ./nginx/www:{{ www_path }}
    ports:
      - {{ port_80_redirection }}:80 